<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
   <category label="Definições gerais">
      <setting label="[B][COLOR green]Dados de conta:[/B][/COLOR]" type="lsep" />
      <setting id="login_name" type="text" label="Username" default=""/>
      <setting id="login_password" type="text" label="Password" default="" option="hidden" enable="!eq(-1,false)"/>
      <setting type="sep" />      
      <setting id="qualidade-auto" type="bool" label="Escolher a melhor qualidade automaticamente" default="false"/>
      <setting id="fonte-auto" type="bool" label="Escolher provedor automaticamente" default="false"/>   
      <setting id="host-option" type="labelenum" label="Opção" values="Opção 1|Opção 2|Opção 3|Opção 4" default="Opção 1" enable="!eq(-1,false)"/>
      <setting type="sep" />	      
      <setting id="subtitles-active" type="bool" label="Activar legendas do site" default="true"/>
      <setting id="novos-episodios" type="bool" label="Procurar novos episódios no login" default="true"/>
      <setting id="votar-stopped" type="bool" label="Classificar média apos visualização" default="true"/>
      <setting id="mensagem-pedidos" type="bool" label="Apresentar mensagem de instruções para pedidos" default="true" visible="false"/>
      <setting id="sync-trakt" type="bool" label="Sincronizar trakt" default="false"/>
      <setting id="limpar-metadata" type="bool" label="Apagar conteúdo pasta metadata" visible="false" default="true"/>
      <setting id="track_player" type="bool" label="Manter registo do progresso de reprodução (Bookmarks)" visible="true" default="true"/>
   </category>
   <category label="Filmes/Séries">
      <setting label="[B][COLOR green]Metadata adicional para Filmes:[/B][/COLOR]" type="lsep" />
      <setting id="movie-fanart" type="bool" label="Procurar Fanart" default="true"/>
      <setting id="movie-trailer" type="bool" label="Procurar Trailers" default="false"/>
      <setting label="[B][COLOR green]Metadata adicional Séries:[/B][/COLOR]" type="lsep" />
      <setting id="series-fanart" type="bool" label="Procurar Fanart" default="true"/>
      <setting id="series-season-poster" type="bool" label="Procurar poster da temporada" default="true"/>
      <setting id="series-episode-thumbnails" type="bool" label="Procurar thumbnail do episódio" default="true"/>
   </category>
   <category label="Biblioteca">
      <setting label="[B][COLOR green]Definições gerais para a integração com a biblioteca do XBMC:[/B][/COLOR]" type="lsep" />
      <setting id="libraryfolder" type="folder" label="Pasta da biblioteca" default=""/>
      <setting label="[B][COLOR green]Séries:[/B][/COLOR]" type="lsep" />
      <setting id="series-library" type="bool" label="Procurar novos episódios (service.py)" default="false"/>
      <setting id="series-watchlist" type="bool" label="Subscrever automaticamente todas as séries da watchlist trakt.tv (service.py)" default="false" enable="!eq(-1,false)"/>
      <setting id="series-library-interval" type="enum" label="Intervalo de procura" values="2h|5h|10h|15h|24h" default="3" enable="!eq(-2,false)"/>
      <setting type="sep" />      
      <setting type="action" label="Procurar novos episódios agora" action="XBMC.RunPlugin(plugin://plugin.video.ratotv/?mode=48&name=rato&url=ratotv.top)" />
      <setting type="action" label="Subscrever watchlist do Trakt (séries) agora" action="XBMC.RunPlugin(plugin://plugin.video.ratotv/?mode=54&name=actualizarlib&url=ratotv.top)" />
      <setting type="action" label="Adicionar colecção Trakt (Series) à biblioteca agora" action="XBMC.RunPlugin(plugin://plugin.video.ratotv/?mode=56&name=actualizarlib&url=ratotv.top)" />
      <setting label="[B][COLOR green]Filmes:[/B][/COLOR]" type="lsep" />
      <setting id="filmes-library" type="bool" label="Procurar novos filmes (service.py)" default="false"/>
      <setting id="filmes-watchlist" type="bool" label="Adicionar automaticamente watchlist trakt.tv à biblioteca (service.py)" default="false" enable="!eq(-1,false)"/>
      <setting id="filmes-service" type="enum" label="Modo" values="Apenas novos filmes|Novos filmes + Watchlist|Apenas Watchlist" default="0" enable="!eq(-2,false)"/>
      <setting id="filmes-library-interval" type="enum" label="Intervalo de procura" values="2h|5h|10h|15h|24h" default="3" enable="!eq(-3,false)"/>
      <setting type="sep" />      
      <setting type="action" label="Transferir toda a biblioteca de filmes"  action="XBMC.RunPlugin(plugin://plugin.video.ratotv/?mode=47&name=todos&url=ratotv.top)" />
      <setting type="action" label="Procurar novos filmes agora"  action="XBMC.RunPlugin(plugin://plugin.video.ratotv/?mode=47&name=novos&url=ratotv.top)" />
      <setting type="action" label="Procurar filmes dos favoritos agora" action="XBMC.RunPlugin(plugin://plugin.video.ratotv/?mode=100&name=todos&url=ratotv.top)" />
      <setting type="action" label="Adicionar watchlist do Trakt (Filmes) à biblioteca agora" action="XBMC.RunPlugin(plugin://plugin.video.ratotv/?mode=53&name=actualizarlib&url=ratotv.top)" />
      <setting type="action" label="Adicionar colecção Trakt (Filmes) à biblioteca agora" action="XBMC.RunPlugin(plugin://plugin.video.ratotv/?mode=55&name=actualizarlib&url=ratotv.top)" />
      <setting label="[B][COLOR green]Gestão da biblioteca XBMC:[/B][/COLOR]" type="lsep" />
      <setting type="action" label="Actualizar biblioteca"  action="XBMC.UpdateLibrary(video)" />
      <setting type="action" label="'Limpar' a biblioteca" option="close" action="XBMC.CleanLibrary(video)" />
      <setting id="series-last-update" type="text" default="1970-01-01 23:59:00.000000" visible="false"/>
      <setting id="movies-last-update" type="text" default="1970-01-01 23:59:00.000000" visible="false"/>
   </category>
   <category label="Watchlist">
      <setting label="[B][COLOR green]Dados do trakt.tv:[/B][/COLOR]" type="lsep" />
      <setting id="trakt_login" type="text" label="Username trakt" default=""/>
   </category>
   <category label="Tipos de vista">
      <setting label="[B][COLOR green]Definições de vista:[/B][/COLOR]" type="lsep" />
     <setting id="menu-view" type="enum" label="Vista - Menus" values="Lista|Lista Grande" default="0"/>
     <setting id="moviesandseries-view" type="enum" label="Vista - Filmes e Séries" values="Lista|Lista Grande|Miniatura|Posters|Fanart|Media Info 1|Media Info 2|Media Info 3" default="7"/>
     <setting id="series-view" type="enum" label="Vista - Menu de temporadas" values="Lista|Lista Grande|Miniatura" default="2"/>
     <setting id="episodes-view" type="enum" label="Vista - Menu de episodios" values="Lista|Lista Grande|Miniatura" default="2"/>
     <setting id="pedidos-view" type="enum" label="Vista - Menu de pedidos" values="Lista|Lista Grande|Miniatura|Posters|Fanart|Media Info 1|Media Info 2|Media Info 3" default="7"/>
   </category>
      <category label="Download">
      <setting id="download-activo" type="bool" label="Activar opção de download" default="false"/>
      <setting label="[B][COLOR green]Pasta de download:[/B][/COLOR]" type="lsep" />
      <setting label="" type="folder" id="folder" source="auto" option="writeable" default="Escolha a pasta" enable="!eq(-2,false)"/>
   </category>
</settings>
